<div class="contenedorPrincipal">

  <a class="btn btn-danger" routerLink="../"><i class="fa-solid fa-chevron-left"></i></a>
  <br>
  <br>
  <div class="card">
    <h1 class="card-header">Carrito de Compras</h1>
    <br>
    <div class="card-body">
      <div class="tabla">
        <table class="table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Total</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="" alt="XD"></td>
              <td>Cojin</td>
              <td>6</td>
              <td>$150</td>
              <td>$900</td>
              <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>
            <tr>
              <td><img src="" alt="XD"></td>
              <td>Cojin</td>
              <td>6</td>
              <td>$150</td>
              <td>$900</td>
              <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h1 class="total text-start">Total: $1800</h1>
      <button class="btn btn-outline-success" routerLink="pago">Comprar</button>

    </div>
  </div>



</div>
