

  <div class="contenedorPrincipal">

    <a class="btn btn-danger" routerLink="../"><i class="fa-solid fa-chevron-left"></i></a>
    <br>
    <br>
    <div class="card">
      <h1 class="card-header">Carrito de Compras</h1>
      <br>
      <div class="card-body">
        <div class="tabla">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carrito of listaCarrito; let i = index">
                <td><img src="" alt="XD" [src]="carrito.imagen" style="
                  width: 200px;"></td>
                <td>{{carrito.nombre}}</td>
                <td>{{carrito.cantidadComprar}}</td>
                <td>${{carrito.precio_venta}}</td>
                <td>${{carrito.precio_venta * carrito.cantidadComprar}}</td>
                <td><button class="btn btn-danger" (click)="eliminarProducto(i)">Eliminar</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <h1 class="total text-start">Total: ${{total  | number:'1.2-2' }}</h1>
        <button class="btn btn-outline-success" (click)="moduloPago()">Comprar</button>
  
      </div>
    </div>
  
  
  
  </div>
  



