<div class="contenedorPrincipal">


  <h1 class="titulo">Proveedores</h1>
  <br>

  <a class="btn btn-warning" id="botonAgregar" routerLink="agregarProveedor"><i class="fa-solid fa-plus"></i> Agregar proveedor </a>
  <br>
  <br>

  <div class="card">
    <h4 class="card-header">Proveedores</h4>
    <br>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <b>Filtrar por: </b>
          <input type="text" class="form-control" name="filtroProv">
        </div>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Empresa</th>
            <th>Nombre Contacto</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>1</td>
            <td>Textiles León</td>
            <td>Armando Guzmán</td>
            <td>armandoguz@texleon.mx</td>
            <td>477-254-1265</td>
            <td>Panchito flores #123</td>
            <td><a class="btn btn-warning" routerLink="editarProveedor"><i class="fa-solid fa-pen"></i> Editar</a></td>
            <td><button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>
