
.img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
.titulo{
  
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10px;
  }
  