<div class="contenedor-padre">
  <mat-toolbar class="barra" style="background-color: #0369bd">
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        Luxury Rest
      </span>
      <!-- &nbsp; -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="home">
          <i class="fa-solid fa-house"></i>
          Inicio
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="producto">
          <i class="fa-solid fa-shop"></i>
          Productos
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/inventario">
          <i class="fa-solid fa-boxes-stacked"></i>
          Inventario
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/materiaPrima">
          <i class="fa-solid fa-industry"></i>
          Materia prima
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/receta">
          <i class="fa-solid fa-book"></i>|
          Recetas
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/compras">
          <i class="fa-solid fa-cart-shopping"></i>
          Compras
        </a>
        <a mat-list-item routerLinkActive="active"  routerLink="/finanzas">
          <i class="fa-solid fa-chart-simple"></i>
          Finanzas
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/pedidos">
          <i class="fa-solid fa-truck"></i>
          Pedidos
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/proveedores">
          <i class="fa-solid fa-truck-ramp-box"></i>
          Proveedores
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/usuarios">
          <i class="fa-solid fa-users"></i>
          Usuarios
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/ventas">
          <i class="fa-solid fa-cash-register"></i>
          Ventas
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="login">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          Iniciar sesión
        </a>
      </mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Más
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item href='#'>
              Acerca de
            </a>
            <a mat-list-item href='#'>
              Ayuda
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="contendorMain">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

