.contenedorPrincipal{
  margin: 0.5rem;
}

.titulo{
  font-size: 4em;
  text-align: center;
}

.formularioMateria{
  border: 2px solid #6ea1ca;
  border-radius: 8px;
  padding: 10px;
}

#btnActualizar{
  border-radius: 16px;
}

#btnActualizar:hover{
  color: green;
  background-color: white;
  border: 1px solid green;
  transition: all 0.60;
}
