<div class="contenedorP">


  <div class="card" style="width: 22rem;" id="card-login">

    <div class="card-body">

      <div class="text-center card-img-top" style="margin-top: 10px;">
        <i class="fa-solid fa-user" style="font-size: 84px; color: #6ea1ca;"></i>
      </div>
      <br>
      <h3 class="card-title text-center" >Inicio de sesión</h3>
      <br>
      <div class="formularioLogin">

        <form>
          <label for="user" class="form-label">Usuario: </label>
          <input class="form-control" type="text" style="border-radius: 15px;" name="user">
          <br>
          <label for="password" class="form-label">Contraseña: </label>
          <input class="form-control" type="password" style="border-radius: 15px;" name="password">
          <p>¿No tienes cuenta? <a routerLink="registro">Registrate aquí</a></p>
          <br>
          <button class="btn btn-primary" style="border-radius: 10px;">Iniciar sesión</button>
        </form>

      </div>

    </div>

  </div>


</div>
