<div class="contenedorPrincipal">

  <a class="btn btn-danger" routerLink="../" style="border-radius: 16px;"><i class="fa-solid fa-arrow-right fa-rotate-180"></i> Regresar</a>

  <br>
  <br>

  <div class="card">

    <div class="card-body">

      <h1 class="card-title titulo">Comprar materia prima</h1>
      <br>

      <form action="" class="row g-3">

        <div class="col-6">
          <label for="userEmp" class="form-label">Usuario: </label>
          <input type="text" class="form-control" id="userEmp" name="userEmp" disabled>
        </div>

        <div class="col-6">
          <label class="form-label">Materia prima: </label>
          <select class="form-select" aria-label="Default select example">
            <option selected disabled>Seleccione una materia prima</option>
            <option value="1">Materia prima 1</option>
            <option value="2">Materia prima 2</option>
            <option value="3">Materia prima 3</option>
          </select>
        </div>

        <div class="col-4">
          <label for="precioM" class="form-label">Precio: </label>
          <input type="number" class="form-control" id="precioM" name="precioM" placeholder="$00" disabled>
        </div>

        <div class="col-4">
          <label for="cantidadMin" class="form-label">Cantidad min: </label>
          <input type="number" class="form-control" id="cantidaMin" name="cantidadMin" placeholder="150 pz" disabled>
        </div>

        <div class="col-4">
          <label for="cantidad" class="form-label">Cantidad: </label>
          <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Ponga una Cantidad">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btnComprar">Comprar</button>
        </div>



      </form>


    </div>

  </div>





</div>
