<div class="contenedorRe">


  <div class="registroUser">
    <div class="text-center">
      <i class="fa-solid fa-circle-user" style="font-size: 94px; color: #D9D9D9;"></i>
    </div>
    <br>
    <h1 class="text-center">Registro de usuario</h1>
    <br>
    <form class="row g-3">
        <div class="col-6">
          <label for="nombre" class="form-label">Nombre de usuario: </label>
          <input class="form-control" type="text" style="border-radius: 15px;" name="nombre">
        </div>
        <div class="col-6">
          <label for="contrasenia" class="form-label">Contraseña: </label>
          <input class="form-control" type="password" style="border-radius: 15px;" name="contrasenia">
        </div>
        <div class="col-12">
          <label for="correo" class="form-label">Correo: </label>
          <input class="form-control" type="email" style="border-radius: 15px;" name="correo">
        </div>
        <div class="col-4">
          <button class="btn btn-primary" type="submit" style="border-radius: 15px;">Registrarse</button>
        </div>
        <div class="col-4">
          <a class="btn btn-danger" style="border-radius: 15px;" routerLink="../">Cancelar</a>
        </div>
    </form>
  </div>


</div>
