<div class="card" style="width: 18rem;">
  <img src="https://lumiere-a.akamaihd.net/v1/images/dua_lipa_portada_5_bf1628a4.jpeg?region=15,0,1956,1100&width=768" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dua lipa</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eum adipisci quo dolorem sapiente, explicabo consequuntur quia rerum facilis aspernatur harum quisquam minus dicta eaque, cum temporibus animi veritatis laboriosam!
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
