<div class="card" style="width: 18rem;">
  <img src="https://ss356.liverpool.com.mx/xl/1094691580.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dua lipa</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eum adipisci quo dolorem sapiente, explicabo consequuntur quia rerum facilis aspernatur harum quisquam minus dicta eaque, cum temporibus animi veritatis laboriosam!
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>

<img src="../img/logo_luxuryRest.jpg" alt="">
